:root {
	--primary-color: red;
	--primary-size: 32px;
}
h2 {
	color: red;
}
#nested {
	/* this will work as element is in light dom */
	/* color:purple; */
}
span {
	color: orange; /* will overwrite css from inside component */
}

my-card {
	color: red; /* these will not work as the Shadow DOM is encapsulated */
}
.card {
	background: green; /* these will not work as the Shadow DOM is encapsulated */
}
